<div class="row">
  <div class="col-md-12">
    <h2>Sightings</h2>

    {{leaflet-map
      content=content
      selection=selected
    }}
  </div>
</div>

<div class="row m-t-md">
  <div class="col-md-12">
    <p>
      <ul class="list-inline">
        <li><button class="btn btn-default">Show All</button></li>
        <li><button class="btn btn-default">Show Last 4 Weeks</button></li>
        <li><button class="btn btn-default">Show Last 7 Days</button></li>
        <li><button class="btn btn-default">Show Last 24 Hours</button></li>
      </ul>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Table</h2>

    {{sighting-table
      content=content
      events=mapper
    }}

  </div>
</div>
